/* reset CSS */
* {
  margin: 0;
  padding: 0;
}

/* colors and font styles */
body {
  font-family: roboto, sans-serif;
}

.header,
.footer {
  background-color: #1f2937;
}

.hero-main-text {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #e5e7eb;
}

.links li a {
  color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
}

.signUp {
  background-color: #3882f6;
  color: #e5e7eb;

}

.signUp2 {
  color: #3882f6;
}

.info-header-text {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
}

.quote {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  font-style: italic;
}

.img {
  color: #e5e7eb;
}

/* header */
.header {
  padding: 1em 13em;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.links li a {
  text-decoration: none;
}

.heroWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
  padding: 125px 0;
}

.heroWrap .left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.heroWrap .right {
  display: flex;
  background-color: gray;
  width: 50%;
  height: 215px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.heroWrap .signUp {
  border-radius: 10px;
  width: 120px;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  font-weight: 800;
}

/* main */
.main .img {
  border: 4px solid #3882f6;
  border-radius: 8px;
  width: 150px;
  height: 150px;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.info-header-text {
  padding-top: 40px;
}

.infoWrap {
  display: flex;
  justify-content: center;
  margin: 40px 0 150px 0;
  flex-wrap: wrap;
}

.info {
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  gap: 8px;
}

.text {
  font-size: 18px;
}

/* quote */

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 150px 250px;
}
.quote-text {
 
}

.writer {
  align-self: flex-end;
  font-weight: 800;
  font-size: 24px;
}

/* section */
.strong {
  font-size: 24px;
  font-weight: bold;
}

.section {
  display: flex;
  justify-content: center;
  padding: 150px 250px;
}

.sectionWrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3882f6;
  padding: 60px;
  width: 100%;
  border-radius: 10px;
  color: #e5e7eb;
}

.signUp2 {
  border-radius: 10px;
  width: 120px;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  font-weight: 800;
  color: #e5e7eb;
  background-color: #3882f6;
  border: 2px solid #e5e7eb;
}
